#pragma once

// ==========================================================================
//               ESP32 Glove Control System Configuration
// ==========================================================================
//
// Instructions:
// 1. Rename this file from "config.h.example" to "config.h".
// 2. Fill in your local WiFi network credentials below.
// 3. The "config.h" file is included in .gitignore to keep your
//    credentials private and prevent them from being committed to Git.
//
// ==========================================================================


// WiFi STA Configuration (for connecting to your local network)
#define WIFI_STA_SSID "YOUR_WIFI_SSID"
#define WIFI_STA_PASSWORD "YOUR_WIFI_PASSWORD"
